@keyframes gradient-slow {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-slow {
  background-size: 200% 200%;
  animation: gradient-slow 15s ease infinite;
}
